@model IEnumerable<ParveenEvent.Models.tbl_Reg>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cus_Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cus_Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cus_Occupation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPresent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsGift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cus_Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cus_Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cus_Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cus_Occupation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPresent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsGift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cus_Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
